/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
//loader css

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
}
//general css
$pri: #5cb85c;
$sec: #818a91;
$gray: #f3f3f3;
$text-gray: #999999;
.color-pri {
  color: $pri;
}
.color-gray {
  color: $text-gray;
}
body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.sec-padding {
  padding: 2rem 0;
}
.flex {
  display: flex;
}
.fw {
  flex-wrap: wrap;
}
.jsb {
  justify-content: space-between;
}
.center {
  justify-content: center;
  align-items: center;
}
.flex-20 {
  flex: 0 1 18%;
  margin: 1%;
}
.flex-80 {
  flex: 0 1 78%;

  margin: 1%;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: inline-block;
  border: none;
  font-size: 1rem;
}
.btn-pri {
  background-color: $pri;
  color: wheat;
}
.btn-sec {
  background-color: $sec;
  color: white;
}
.btn-ter {
  background-color: $gray;
  border: 1px solid $text-gray;
}
.sec-heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
//header{
.header {
  padding: 1rem;
  strong {
    font-size: 1.5rem;
    font-weight: 900;
    color: $pri;
  }
  .header-nav {
    & > * {
      margin-right: 1rem;
    }
  }
}

//hero-sec

.hero-sec {
  background-color: $pri;
  padding: 3rem;
  .flex {
    padding: 2rem 3rem;
  }
  h2 {
    color: white;
    font-size: 2rem;
  }
}

//tags-sec
.tags-sec {
  background-color: $gray;

  & > * {
    padding: 1rem;
  }
  h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  ul {
    // display: flex;
    li {
      margin: 0.25rem;
      .btn-sec {
        font-size: 0.7em;
        padding: 0.2rem 0.5rem;
      }
    }
  }
}

//home-tags-div

.home-tags-div {
  .active {
    border-bottom: 2px solid $pri;
  }
  li {
    margin-right: 1rem;
  }
}

//home-article-card

.home-article-card {
  padding: 1rem;
  border-bottom: 1px solid rgb(209, 206, 206);
  & > * {
    margin-bottom: 0.8rem;
  }
  .artilce-card-header-img {
    height: 2rem;
    width: 2rem;
  }
  .article-card-author {
    padding-left: 0.5rem;
    h5 {
      margin-bottom: 0.3rem;
      color: $pri;
    }
    h6 {
      font-size: 0.8rem;
      color: $text-gray;
    }
  }
  .article-card-likes {
    padding: 0.5rem;
    border: 1px solid $pri;
    background-color: $gray;
    & > * {
      color: $pri;
      margin-right: 0.4rem;
    }
  }
  .article-card-body {
    h3 {
      font-size: 1.5rem;
      font-weight: 700;
    }
    h5 {
      font-size: 1rem;
      color: $text-gray;
      margin-top: 0.5rem;
    }
  }
  .article-tags {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: $gray;
    border: 1px solid $text-gray;
    margin: 0.5rem;
    border-radius: 10px;
    color: $text-gray;
  }
}

//login-sec

.login-sec {
  form {
    background-color: $pri;
    padding: 1rem;
    max-width: 400px;
    margin: 10rem auto;
    border-radius: 10px;
    input {
      width: 100%;
      margin: 1rem 0;
      border-radius: 10px;
      padding: 0.3rem 0;
      border: none;
    }
    label {
      font-size: 1rem;
      font-weight: 700;
      color: wheat;
    }
    span {
      color: rgb(236, 32, 32);
      font-size: 0.7rem;
    }
  }
}

//article-hero-sec
.article-hero-sec {
  img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
  .article-sec-author {
    padding-left: 0.5rem;
    h5 {
      margin-bottom: 0.3rem;
      color: black;
    }
    h6 {
      font-size: 0.8rem;
      color: rgb(71, 70, 70);
    }
  }
}

//single-article-sec

.single-article-sec {
  h4 {
    font-size: 2rem;
    font-weight: 500;
    color: $text-gray;
  }
  hr {
    margin: 3rem 0;
  }
}
.single-article-error {
  div {
    height: 20rem;
    ul {
      & > * {
        margin: 0 1rem;
      }
    }
  }
}

//single-article-comment-sec

.single-article-comment-sec {
  form {
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid $text-gray;
    border-radius: 10px;
    input {
      width: 100%;
      padding: 2rem 0;
      border: none;
      border-radius: 10px;
      &::placeholder {
        font-size: 1rem;
        padding-left: 2rem;
      }
    }
    button {
      width: 100%;
      background-color: $text-gray;
      border: none;
      border-radius: 0 0 10px 10px;
      padding: 1rem;
      cursor: pointer;
    }
  }
}

//NewArticle-sec
.NewArticle-sec {
  form {
    max-width: 800px;
    margin: 3rem auto;
    padding: 1rem;
    // background-color: $pri;
    input,
    textarea {
      width: 100%;
      padding: 1rem 0;
      margin-bottom: 1rem;
      &::placeholder {
        padding-left: 1rem;
        font-size: 1rem;
      }
    }
  }
}

//settings-sec
.settings-sec {
  form {
    max-width: 500px;
    margin: 3rem auto;
    padding: 1rem;
    // background-color: $pri;
    input,
    textarea {
      width: 100%;
      padding: 0.5rem 0;
      margin-bottom: 1rem;
      &::placeholder {
        padding-left: 1rem;
        font-size: 0.8rem;
      }
    }
  }
}
