//general css
$pri: #5cb85c;
$sec: #818a91;
$gray: #f3f3f3;
$text-gray: #999999;
.color-pri {
  color: $pri;
}
.color-red {
  color: red;
}
.color-gray {
  color: $text-gray;
}
body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.height-100 {
  min-height: 80vh;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.sec-padding {
  padding: 2rem 0;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}
.btn-pri {
  background-color: $pri;
  color: wheat;
}
.btn-sec {
  background-color: $sec;
  color: white;
}
.btn-ter {
  background-color: $gray;
  border: 1px solid $text-gray;
}
.sec-heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
