//header{
.header {
  padding: 1rem;
  background-color: $gray;
  margin-bottom: 2rem;
  strong {
    font-size: 1.5rem;
    font-weight: 900;
    color: $pri;
  }
  .header-nav {
    & > * {
      margin-right: 1rem;
    }
    a:hover {
      background-color: chocolate;
    }
    .active {
      background-color: chocolate;
    }
  }
}
footer {
  padding: 1rem;
  background-color: $gray;
  margin-top: 1rem;
  small {
    font-size: 0.7rem;
    font-weight: 600;
    color: $text-gray;
  }
}
