//header{
.header {
  padding: 0.7rem;
  // background-color: $gray;
  margin-bottom: 0.5rem;
  strong {
    font-size: 2rem;
    padding: 0.5rem;
    font-weight: 900;

    background: -webkit-linear-gradient($ter, $quar);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
  }
  .header-nav {
    & > * {
      margin-right: 1rem;
    }
    a:hover {
      background-color: chocolate;
    }
    .active {
      background-color: red;
    }
  }
}
footer {
  padding: 1rem;
  // background-color: $gray;
  margin-top: 1rem;
  small {
    font-size: 0.7rem;
    font-weight: 600;
    color: $text-gray;
  }
}
