//settings-sec
.settings-sec {
  form {
    max-width: 500px;
    margin: 3rem auto;
    padding: 1rem;

    fieldset {
      margin-bottom: 1rem;
    }
    input,
    textarea {
      width: 100%;
      padding: 0.5rem 0;

      &::placeholder {
        padding-left: 1rem;
        font-size: 0.8rem;
      }
    }
  }
}

//profile-sec
.profile-sec {
  .home-tags-div {
    hr {
      color: red;
    }
  }
}
.profile-hero-div {
  img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 800;

    text-align: center;
  }
  .flex {
    padding: 0;
  }
}
