/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes bouncing-loader {
  to {
    opacity: 0.1;
    -webkit-transform: translate3d(0, -16px, 0);
            transform: translate3d(0, -16px, 0);
  }
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    -webkit-transform: translate3d(0, -16px, 0);
            transform: translate3d(0, -16px, 0);
  }
}

.bouncing-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  -webkit-animation: bouncing-loader 0.6s infinite alternate;
          animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.color-pri {
  color: #5cb85c;
}

.color-red {
  color: red;
}

.color-gray {
  color: #999999;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.height-100 {
  min-height: 80vh;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.sec-padding {
  padding: 2rem 0;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}

.btn-pri {
  background-color: #5cb85c;
  color: wheat;
}

.btn-sec {
  background-color: #818a91;
  color: white;
}

.btn-ter {
  background-color: #f3f3f3;
  border: 1px solid #999999;
}

.sec-heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcfe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fw {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18%;
          flex: 0 1 18%;
  margin: 1%;
}

.flex-80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 78%;
          flex: 0 1 78%;
  margin: 1%;
}

.header {
  padding: 1rem;
  background-color: #f3f3f3;
  margin-bottom: 2rem;
}

.header strong {
  font-size: 1.5rem;
  font-weight: 900;
  color: #5cb85c;
}

.header .header-nav > * {
  margin-right: 1rem;
}

.header .header-nav a:hover {
  background-color: chocolate;
}

.header .header-nav .active {
  background-color: chocolate;
}

footer {
  padding: 1rem;
  background-color: #f3f3f3;
  margin-top: 1rem;
}

footer small {
  font-size: 0.7rem;
  font-weight: 600;
  color: #999999;
}

.hero-sec {
  background-color: #4f9e9a;
  padding: 3rem;
}

.hero-sec .flex {
  padding: 1rem 3rem;
}

.hero-sec h2 {
  color: white;
  font-size: 2rem;
}

.tags-sec {
  background-color: #f3f3f3;
}

.tags-sec > * {
  padding: 1rem;
}

.tags-sec h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.tags-sec ul li {
  margin: 0.25rem;
}

.tags-sec ul li a:hover {
  background-color: #6d4aa5;
}

.tags-sec ul li .btn-sec {
  font-size: 0.7em;
  padding: 0.2rem 0.5rem;
}

.home-tags-div .active {
  border-bottom: 2px solid #5cb85c;
}

.home-tags-div li {
  margin-right: 1rem;
}

.home-article-card {
  padding: 1rem;
  border-bottom: 1px solid #d1cece;
}

.home-article-card > * {
  margin-bottom: 0.8rem;
}

.home-article-card .artilce-card-header-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.home-article-card .article-card-author {
  padding-left: 0.5rem;
}

.home-article-card .article-card-author h5 {
  margin-bottom: 0.3rem;
  color: #5cb85c;
}

.home-article-card .article-card-author h6 {
  font-size: 0.8rem;
  color: #999999;
}

.home-article-card .article-card-likes {
  padding: 0.5rem;
  border: 1px solid #5cb85c;
  background-color: #f3f3f3;
}

.home-article-card .article-card-likes svg {
  cursor: pointer;
}

.home-article-card .article-card-likes > * {
  color: #5cb85c;
  margin-right: 0.4rem;
}

.home-article-card .article-card-body h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.home-article-card .article-card-body h5 {
  font-size: 1rem;
  color: #999999;
  margin-top: 0.5rem;
}

.home-article-card .article-card-footer a:hover {
  color: white;
  background-color: #6d4aa5;
}

.home-article-card .article-card-footer .btn-sec {
  margin: 0 0.5rem;
}

.login-sec form {
  background-color: #5cb85c;
  padding: 1rem;
  max-width: 400px;
  margin: 10rem auto;
  border-radius: 10px;
}

.login-sec form input {
  width: 100%;
  margin: 1rem 0;
  border-radius: 10px;
  padding: 0.3rem 0;
  border: none;
}

.login-sec form label {
  font-size: 1rem;
  font-weight: 700;
  color: wheat;
}

.login-sec form span {
  color: #ec2020;
  font-size: 0.7rem;
}

.article-hero-sec nav > * {
  margin-right: 1rem;
}

.article-hero-sec img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.article-hero-sec .article-sec-author {
  padding-left: 0.5rem;
}

.article-hero-sec .article-sec-author h5 {
  margin-bottom: 0.3rem;
  color: black;
}

.article-hero-sec .article-sec-author h6 {
  font-size: 0.8rem;
  color: #474646;
}

.single-article-sec h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #5cb85c;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.single-article-sec h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #999999;
}

.single-article-sec hr {
  margin: 3rem 0;
}

.single-article-sec ul > * {
  margin-right: 1rem;
  color: #999999;
}

.single-article-error div {
  height: 20rem;
}

.single-article-error div ul > * {
  margin: 0 1rem;
}

.single-article-comment-sec form {
  max-width: 700px;
  margin: 0 auto;
  border: 1px solid #999999;
  border-radius: 10px;
}

.single-article-comment-sec form input {
  width: 80%;
  border: none;
  outline: none;
  border-radius: 10px;
}

.single-article-comment-sec form input::-webkit-input-placeholder {
  font-size: 1rem;
  padding-left: 2rem;
}

.single-article-comment-sec form input:-ms-input-placeholder {
  font-size: 1rem;
  padding-left: 2rem;
}

.single-article-comment-sec form input::-ms-input-placeholder {
  font-size: 1rem;
  padding-left: 2rem;
}

.single-article-comment-sec form input::placeholder {
  font-size: 1rem;
  padding-left: 2rem;
}

.single-article-comment-sec form fieldset {
  width: 100%;
  padding: 2rem;
}

.single-article-comment-sec form button {
  width: 100%;
  background-color: #999999;
  border: none;
  border-radius: 0 0 10px 10px;
  padding: 1rem;
  cursor: pointer;
}

.single-article-comment-sec .comments-div {
  margin-top: 1rem;
}

.single-article-comment-sec .comments-div .comment {
  max-width: 700px;
  margin: 0.5rem auto;
  border: 1px solid #999999;
  border-radius: 10px;
}

.single-article-comment-sec .comments-div .comment .comment-body {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.single-article-comment-sec .comments-div .comment .comment-footer {
  background-color: #c2c0c0;
  border: none;
  border-radius: 0 0 10px 10px;
  padding: 1rem;
}

.single-article-comment-sec .comments-div .comment .comment-footer img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.single-article-comment-sec .comments-div .comment .comment-footer h5 {
  font-size: 1rem;
  margin: 0.2rem 0;
}

.single-article-comment-sec .comments-div .comment .comment-footer h6 {
  font-size: 0.7rem;
}

.NewArticle-sec form {
  max-width: 800px;
  margin: 3rem auto;
  padding: 1rem;
}

.NewArticle-sec form input,
.NewArticle-sec form textarea {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.NewArticle-sec form input::-webkit-input-placeholder,
.NewArticle-sec form textarea::-webkit-input-placeholder {
  padding-left: 1rem;
  font-size: 1rem;
}

.NewArticle-sec form input:-ms-input-placeholder,
.NewArticle-sec form textarea:-ms-input-placeholder {
  padding-left: 1rem;
  font-size: 1rem;
}

.NewArticle-sec form input::-ms-input-placeholder,
.NewArticle-sec form textarea::-ms-input-placeholder {
  padding-left: 1rem;
  font-size: 1rem;
}

.NewArticle-sec form input::placeholder,
.NewArticle-sec form textarea::placeholder {
  padding-left: 1rem;
  font-size: 1rem;
}

.settings-sec form {
  max-width: 500px;
  margin: 3rem auto;
  padding: 1rem;
}

.settings-sec form fieldset {
  margin-bottom: 1rem;
}

.settings-sec form input,
.settings-sec form textarea {
  width: 100%;
  padding: 0.5rem 0;
}

.settings-sec form input::-webkit-input-placeholder,
.settings-sec form textarea::-webkit-input-placeholder {
  padding-left: 1rem;
  font-size: 0.8rem;
}

.settings-sec form input:-ms-input-placeholder,
.settings-sec form textarea:-ms-input-placeholder {
  padding-left: 1rem;
  font-size: 0.8rem;
}

.settings-sec form input::-ms-input-placeholder,
.settings-sec form textarea::-ms-input-placeholder {
  padding-left: 1rem;
  font-size: 0.8rem;
}

.settings-sec form input::placeholder,
.settings-sec form textarea::placeholder {
  padding-left: 1rem;
  font-size: 0.8rem;
}

.profile-sec .home-tags-div hr {
  color: red;
}

.profile-hero-div img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.profile-hero-div h4 {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}

.profile-hero-div .flex {
  padding: 0;
}

@media all and (max-width: 400px) {
  body {
    font-size: 10px;
  }
  .container {
    max-width: 350px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .mobilFlex-80 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 98%;
            flex: 0 1 98%;
    margin: 1%;
  }
  .btn {
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 0.5rem;
  }
  .header {
    margin-bottom: 1rem;
  }
  .hero-sec .flex {
    padding: 1rem 0;
  }
  .hero-sec .flex nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-sec {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media all and (max-width: 1050px) {
  body {
    font-size: 12px;
  }
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
  .mobilFlex-80 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 98%;
            flex: 0 1 98%;
    margin: 1%;
  }
  .btn {
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 0.5rem;
  }
  .header {
    margin-bottom: 1rem;
  }
  .hero-sec .flex {
    padding: 1rem 0;
  }
  .hero-sec .flex nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-sec {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/*# sourceMappingURL=App.css.map */